[Unit]
Description=ESSDATA Flask Application
After=network.target

[Service]
Environment="TZ=America/La_Paz"
WorkingDirectory=/home/essdata/application
#ExecStart=/home/essdata/services/essdata/venv/bin/flask --app  /home/essdata/services/essdata/app.py run
ExecStart=/home/essdata/application/venv/bin/gunicorn -w 4 app:app
Restart=on-failure 
User=essdata
#StandardOutput=syslog
#StandardError=syslog
StandardOutput=append:/home/essdata/application/log.log
StandardError=append:/home/essdata/application/error.log
SyslogIdentifier=ESSDATA

[Install]
WantedBy=multi-user.target

